<ion-tabs class="tabs-icon-top">
    <ion-tab title="首页" icon="ion-home" ui-sref="tab.central">
        <ion-nav-view name="tab-central"></ion-nav-view>
    </ion-tab>
    <ion-tab title="设置" icon="ion-gear-b" ui-sref="tab.setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
    <ion-tab title="关于" icon="ion-star" ui-sref="tab.about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>
    <ion-tab title="日志" icon="ion-document-text" ui-sref="tab.log">
        <ion-nav-view name="tab-log"></ion-nav-view>
    </ion-tab>
</ion-tabs>
